     <div class="row">
        <div class="col-sm-3">
            <div class="d-flex justify-content-start">
                <img src="assets/logo.jpg" class="rounded-circle" alt="logo">
            </div>
        </div>
       <nav class="col-sm-6">
            <ul class="nav  nav-tabs nav-justified">
                <li class="nav-item">
                    <a href="#" class="nav-link text-light">Upload-Media</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-light">MyMedia</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-light">Follower/Followers</a>
                </li>
            </ul>
       </nav>
       <div class="col-sm-3" >
        <div class="d-flex justify-content-end">
            <button type="button" class="p-1 btn btn-primary w-50">Account</button>
        </div>
      </div>
  </div>
            