body {
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: left;
    width: 100%;
    background-attachment: fixed;
}
 