
<div class="container mt-5 mb-5">
    <div class="row">
        <h3>MediaComponent</h3>
    </div>
    <div class="row mt-4">
        <aside class="col-sm-6">
            <div class="row">
                <div class="col-sm-1 d-flex justify-content-start mb-3">
                   <i class='fas fa-user' style='font-size:36px'></i>
                </div>
                <div class="col-sm-5 d-flex justify-content-start ml-3">
                    <h5>Title comes here......</h5>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <div class="row">
               <div class="card w-75">
                   <img class="card-img-top" src="../../../assets/sample.jpg" alt="Card image">
               </div>
            </div>
        </aside>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-9 d-flex justify-content-start pl-0 ml-0">
                   <div class="btn-group">
                       <button type="button" class="btn btn-primary active px-3">Sepia</button>
                       <button type="button" class="btn btn-primary px-3">Grey</button>
                       <button type="button" class="btn btn-primary px-3">Brightness</button>
                       <button type="button" class="btn btn-primary px-3">Contrast</button>
                   </div>
                </div>
                <div class="col-sm-3">

                </div>
            </div>
            <div class="row mt-4">
                <textarea class="form-control" placeholder="MultiLine Description here..."></textarea>
            </div>
        </div>
    </div>
</div>