<div class="container mt-5">
    <div class="row">
        <aside class="col-sm-3 mr-10">
            <div  class="mr-5">
                <div class="row justify-content-center mb-4">
                    <u><a href="acc.html">Account</a></u>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-column">
                <div class="p-2">
                    <button type="button" class="btn btn-primary w-75" [routerLink]="['/news-feed']">Newsfeed</button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary w-75" [routerLink]="['/blockeduser']">BlockedContacts</button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary w-75 active">AccountUpdate</button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary w-75" [routerLink]="['/search']">Search</button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-primary w-75" (click)="auth.logout()">Logout</button>
                </div>
            </div>
        </aside> 
        <section class="col-sm-9">
            <div>
                    <div class="form-group row">
                        <label for="usname" class="col-sm-3">User-Name</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-sm" id="usname" placeholder="enter User-Name">
                        </div>
                        <div class="col-sm-3">
                            <input type="button" class="form-control form-control-sm btn btn-primary w-50" value="check">
                        </div>
                        <div class="col-sm-3">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">Password</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control form-control-sm" id="pasword" placeholder="enter password">
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">RepeatPassword</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control form-control-sm" id="Rpasword" placeholder="enter password">
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">Email</label>
                        <div class="col-sm-3">
                            <input type="email" class="form-control form-control-sm" id="pasword" placeholder="enter password">
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-3 col-sm-9">
                            <input type="button" class="form-control form-control-sm btn btn-primary w-25" value="Update">
                        </div>
                    </div>
            </div> 
        </section>
    </div>
